*.class

#package file
*.war
git*.ear

#kdiff3 ignore
*.orig

#maven ugnore
target/

#eclipse ignore
.settings/
.project
.classpath

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.temp

#system ignore
.DS_Store
Thumbs.db
